<!-- now we will add header and footer file -->

<!-- partials is folder in view and we fetch it in this case -->
<%-include("partials/header");-%>
<h1>Home</h1>

<!-- here ejs will get value from server throught object -->
<p><%=content%> </p>

<% for(let i=0;i<array.length;i++){%>
  <h1><%=array[i].title%></h1>
  <p><%=(array[i].content).slice(0,160)%> <a href="/posts/<%=array[i].title%>">... Read More</a></p>
<%} %>

<!-- it is a ejs layout footer file -->
<!-- partials is folder in view and we fetch it in this case -->
<%- include("partials/footer");-%>
<%# you can pass footer only or footer.ejs also %>
